mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
			+form-wrap
				+input("ФИО*",'text').is-valid
				.d-none.d-sm-block
					+input("Дата рождения*",'text').is-invalid.date-mask-js
						.invalid-feedback неверный формат адреса почты
				.d-sm-none
					+input("Дата рождения*",'date').is-invalid
						.invalid-feedback неверный формат адреса почты
				+input("Телефон*",'tel') 
				
				//- +in-c("checkbox", 'Гражданство РФ')

				+in-c("radio",'Гражданство РФ','gr')
				+in-c("radio",'Гражданство другого Государства','gr')
				+input("E-mail*",'email')
				if block
					block
				else
					div(class="form-wrap__input-wrap form-group")
						select(class="form-wrap__input form-select сustom-select-js" data-placeholder="Уровень образования*") 
							option()  
							option(value="Школьник") Школьник
							option(value="Учащийся/выпускник колледжа") Учащийся/выпускник колледжа
							option(value="Студент 1–3-го курса вуза") Студент 1–3-го курса вуза
							option(value="Студент последнего курса бакалавриата/специалитета") Студент последнего курса бакалавриата/специалитета
							option(value="Магистрант") Магистрант
							option(value="Выпускник вуза") Выпускник вуза
						div(class="form-wrap__input-title") Уровень образования*
				+e.btn.btn.btn-dark(type="submit").w-100 Отправить заявку
				+policy
	// end sForm

mixin sForm2()
	// start sForm
	+b.sForm.section#sForm2&attributes(attributes)
			+form-wrap
				+e.title Заполни заявку<br>и пройди конкурсный отбор
				+e.item
					+input("Название вуза, в котором учишься*",'text')
				+e.item.data-answ
					p Знаешь ли ты точные даты практики*?
					+in-c("radio",'Да','period')(data-answ= 'yes', checked)
					+in-c("radio",'Нет','period')(data-answ= 'no')
				+e.item.date
					p Даты прохождения практики:
					+input("Начало - окончание",'daterange')
						+icon("calendar")
					+e.SMALL.text.text-secondary.small Подай заявку не позднее чем за месяц до начала практики
				+e.item
					+input("E-mail*",'email')
					+e.SMALL.text.text-secondary.small Пожалуйста, не используй Gmail, чтобы точно получать наши письма
				+input("Телефон*",'tel')
				+input("ФИО*",'text').is-valid
				+input("Дата рождения*",'text').is-invalid.date-mask-js
					.invalid-feedback неверный формат адреса почты
				//- +in-c("checkbox", 'Гражданство РФ')

				+e.item.gr
					+in-c("radio",'Гражданство РФ','gr')(data-show= 'false', checked)
					+in-c("radio",'Гражданство другого государства','gr')(data-show= 'true')
				+e.item.gr-other.gr-other-none
					+input("Страна гражданства*",'text')
				+e.btn.btn.btn-dark(type="submit").w-100 Отправить заявку
				+policy2
	// end sForm