	// start .sReg
  .sReg {
    --sPT: #{rem(00)};
    @include media-breakpoint-up(sm) {
      --sPT: #{rem(30)};
    }
		padding-left: 1rem;
		padding-right: 1rem;
    // --sPB: #{rem()};
    // --sTPB: #{rem()};
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1048px  + 2rem);
    &__row{
      // --bs-gutter-x: #{rem()};
      --bs-gutter-y: var(--bs-gutter-x);

    }
    .section-title {
      margin-bottom: rem(19);
      font-weight: 700;
      font-size: rem(34);
      line-height: 108%;
      text-align: center;
      color: $black;
      @include media-breakpoint-up(sm) {
        font-size: rem(48);
        margin-bottom: rem(30);
      }
      span {
        color: $primary;
      }
    }
    a {
      color: $body-color;
      // text-decoration: underline;
    }
    .line {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(1);
        background: $body-color;
      }
    }
    .quest {
      border-bottom: rem(1) solid $secondary;
      padding-bottom: rem(15);
      &__title {
        font-weight: 700;
        font-size: rem(26);
        line-height: 117%;
        margin-bottom: rem(16);
        @include media-breakpoint-up(sm) {
          font-size: rem(36);
          line-height: 111%;
        }
      }
      &__descr {
        font-size: rem(20);
        line-height: 125%;
        @include media-breakpoint-up(sm) {
          font-size: rem(24);
          line-height: 133%;
        }
      }
    }



@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
}

.dd-group {
  // max-width: rem(860);
  // margin: 0 auto;
  margin-bottom: rem(40);
  &__head {
    color: $secondary;
    font-size: rem(23);
    cursor: pointer;
    // font-weight: 500;
    padding-top: rem(16);
    padding-bottom: rem(10);
    line-height: 120%;
    display: flex;
    gap: rem(50);
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-up(sm) {
      font-size: rem(28);
      line-height: 136%;
      padding-top: rem(24);
      padding-bottom: rem(15);
    }
    &:after {
      @include mt;
      content: '';
      display: inline-block;
      width: rem(24);
      min-width: rem(24);
      height: rem(24);
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0001 13.9393L6.53039 8.46967L5.46973 9.53033L12.0001 16.0607L18.5304 9.53033L17.4697 8.46967L12.0001 13.9393Z' fill='%23818181' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      // margin-left: rem(4);
      vertical-align: middle;
    }
  }
  &__item {
    border-bottom: rem(1) solid $secondary;
    &:last-child {
      margin-bottom: 0;
    }
    &.active {
      .dd-group__head:after {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0001 13.9393L6.53039 8.46967L5.46973 9.53033L12.0001 16.0607L18.5304 9.53033L17.4697 8.46967L12.0001 13.9393Z' fill='%231A1230' /%3E%3C/svg%3E");
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    @include media-breakpoint-down(sm) {
      :last-child, ol {
        margin-bottom: rem(12);
      }
    }
    font-size: rem(20);
    line-height: 112%;
    span {
      font-weight: 600;
    }
    @include media-breakpoint-up(sm) {
      line-height: 133%;
      font-size: rem(24);
    }
  }
}
.dd-group__content {
  display: none;
  &.active {
    display: block;
  }
}
.dd-group .active .dd-group__head {
  color: $body-color;
}

.sRegSlider {
  margin-left: auto;
  margin-right: auto;
  padding-left: rem(16);
  padding-right: rem(16);
  --sPT: #{rem(0)};
  --sPB: #{rem(60)};
  max-width: calc(1048px  + rem(32));
  // padding-right: 1rem;
  .card-practice {
    background: $white;
    border-radius: rem(24);
    padding: rem(30) rem(16);
    // display: block;
    height: 100%;
    @include media-breakpoint-up(sm) {
      background: transparent;
      padding: rem(10) rem(32);
    }
    // max-width: 90%;
    &__content {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      height: 100%;
      @include media-breakpoint-up(sm) {
        flex-direction: row;
        gap: rem(24);
      }
    }
    &__text {
      // margin-bottom: auto;
      font-size: rem(20);
      line-height: 133%;
      @include media-breakpoint-up(sm) {
        font-size: rem(24);
        
      }
    }
    span {
      font-weight: 700;
      color: $primary;
    }
    .icon {
      font-size: rem(42);
      color: $orange;
      min-width: rem(42);
    }
    .line {
      font-weight: 700;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: rem(1);
        background: $primary;
      }
    }
  }
  .swiper {
    overflow: visible;
    max-width: 90%;
    margin-left: 0;
    margin-right: 0;
    @include media-breakpoint-up(sm) {
      width: 100%;
      background: $white;
      padding-top: rem(24);
      padding-bottom: rem(24);
      max-width: calc(1048px  + rem(32));
      border-radius: rem(24);
    }
  }
  .swiper-slide {
    height: auto;
    display: block;
    
  }
  .swiper-wrapper {
    overflow: visible;
    height: 100% !important;
    // min-height: 266px;
    @include media-breakpoint-up(sm) {
      flex-direction: column;
      transform: none !important;
    }
  }
}

