mixin sReg()
	// start sReg
	+b.sReg.section#sReg&attributes(attributes)
			.section-title Ответы на частые #[span вопросы]
			+ddGroup
				+ddGroupItem('Кто может участвовать в проекте?', 'active')
					p Студенты бакалавриата, специалитета и магистратуры вузов Москвы и Московской области старше 18 лет. Студентам старших курсов мы также рекомендуем ознакомиться с нашей 
						a(href="https://talent.mos.ru/internships/" target="_blank").line программой стажировок.
				+ddGroupItem('Как долго длится практика?')
					p Практика длится от двух недель до двух месяцев, а проходить ее ты можешь неограниченное количество раз. Например, приобретая опыт работы на каждом курсе, к концу обучения ты соберешь профессиональное резюме.
				+ddGroupItem('Оплачивается ли практика?')
					p Нет, практика не оплачивается, но ты получишь по-настоящему ценный опыт. Благодаря проекту ты сразу начнешь работать над реальными городскими задачами, окунешься в специфику Правительства Москвы и сможешь лучше подготовиться к стажировке.
				+ddGroupItem('Могу ли я засчитать практику у вас в качестве практики от вуза? ')
					p Да. Для этого необходимо #[span заранее подготовить форму договора о практической подготовке своего вуза.] Запроси ее в центре карьеры своего учебного заведения, факультета или кафедры. Мы возьмем ее у тебя для согласования практики в организации, которую ты выберешь.
				+ddGroupItem('Что необходимо сделать, чтобы попасть на практику?')
						p 1. Заполнить форму на Карьерном портале не позднее чем за месяц до желаемой или обозначенной вузом даты начала практики. <br> 2. Успешно пройти тестирование и хорошо заполнить резюме. <br> 3. Предоставить справку с места учебы о том, что являешься студентом. <br> 4. Принять приглашение на практику.
				+ddGroupItem('У меня нет опыта работы. Что я могу указать в резюме?')
					p Уверены, даже если опыта работы нет, тебе есть что рассказать! Нам интересно узнать о твоих успехах в научном, волонтерском, спортивном или любом другом виде деятельности. Но важно через них отразить свои навыки и увлечения. Например, напиши, какие мероприятия ты помогал организовывать и какую роль в процессе играл. Или расскажи об участии в соревнованиях.
					p Вариантов много — для удобства воспользуйся 
						a(href="https://disk.yandex.ru/i/93sZBLYcjk9Uzg" target="_blank").line шаблоном.

				+ddGroupItem('Могу ли я выбрать место практики?')
					p Да, после того как ты примешь приглашение, попадешь в закрытый Telegram-канал. <br> В нем мы выкладываем организации и подразделения для твоей будущей практики. <br> Ты сможешь посмотреть, выбрать и откликнуться во все места, которые тебе понравятся.
				+ddGroupItem('Сколько часов необходимо работать в месте проведения практики?')
					p От 20 до 40 часов в неделю. При 20-часовой рабочей неделе ты сможешь учесть свою учебную занятость и согласовать индивидуальный график с наставником. Важно помнить: практиканты работают согласно производственному календарю. Суббота, воскресенье и государственные праздники — выходные.
				+ddGroupItem('Получу ли я какой-нибудь документ о прохождении практики?')
					p Да, в конце практики ты получишь сертификат. А по желанию можешь запросить рекомендацию у Центра развития карьеры Правительства Москвы.
				+ddGroupItem('Что будет, если я пройду конкурсный отбор, выберу место и меня будут готовы принять на практику, но я не смогу выйти в обозначенные сроки?')
					p Мы понимаем, иногда планы неожиданно меняются или появляются непредвиденные обстоятельства. В этом случае тебе стоит обязательно предупредить куратора практики и руководителя практики от принимающей организации о случившемся. <br> Если ты не выйдешь на практику без предупреждения и без уважительной причины, то, по условиям нашей программы, мы больше не сможем приглашать тебя к участию в Молодежных карьерных проектах Правительства Москвы.
			+b.quest
				+e.title Я не нашел ответа на мой вопрос. Что делать?
				+e.descr Напишите нам в сети 
					a(href="https://vk.com/moscow_career" target="_blank") «ВКонтакте», 
					a(href="https://t.me/moscow_career" target="_blank") «Телеграме» 
					| или на почту 
					a(href="mailto:career@edu.mos.ru" target="_blank").line career@edu.mos.ru