$default-font: "GT Walsheim Pro";
// $secondary-font: "Circe";
// $caption-font: "Roboto";
// $file-form: ($file-formats: woff2 woff ttf);
$addr: "../fonts/";
$file-format: woff2;

@include font-face($default-font, $addr + "GTWalsheimPro-Regular", 400, $file-formats: $file-format);
@include font-face($default-font, $addr + "GTWalsheimPro-Bold", 700, $file-formats: $file-format);