extends ../layout/main.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= '1.2'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sForm()
			div(class="form-wrap__input-wrap form-group")
				select(class="form-wrap__input form-select сustom-select-js"  data-placeholder="Уровень образования*")
					option( )
					option(value="Школьник" selected) Школьник
					option(value="Учащийся/выпускник колледжа") Учащийся/выпускник колледжа
					option(value="Студент 1–3-го курса вуза") Студент 1–3-го курса вуза
					option(value="Студент последнего курса бакалавриата/специалитета") Студент последнего курса бакалавриата/специалитета
					option(value="Магистрант") Магистрант
					option(value="Выпускник вуза") Выпускник вуза
				div(class="form-wrap__input-title") Уровень образования*
			+e.group
				p.mb-0 Я&nbsp;хочу принять участие в&nbsp;Молодежных карьерных проектах 
					span.d-block.text-secondary для школьников 10&ndash;11-х классов.