extends ../layout/main.pug
include ../blocks/sForm/_sForm.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= '1.4'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sForm()
			div(class="form-wrap__input-wrap form-group")
				select(class="form-wrap__input form-select сustom-select-js")
					option(disabled) Выбрать
					option( ) Школьник
					option() Учащийся/выпускник колледжа
					option() Студент 1–3-го курса вуза
					option(selected) Студент последнего курса бакалавриата/специалитета
					option() Магистрант
					option() Выпускник вуза
			+e.group
				p.mb-0 Я хочу:
				+in-c("radio",'','radio')
					+e.SPAN.text.form-check-label стажироваться в&nbsp;Правительстве Москвы.
						span.d-block.text-secondary Оплачиваемые стажировки для студентов последних курсов бакалавриата, магистрантов и&nbsp;выпускников вузов до&nbsp;35&nbsp;лет.
				+in-c("radio",'','radio')
					+e.SPAN.text.form-check-label пройти практику.
						span.d-block.text-secondary До&nbsp;месяца работы с&nbsp;целью получения профильного опыта работы для студентов 1&ndash;4-х курсов столичных вузов и&nbsp;магистрантов.