include ../layout/include.pug 
doctype html
html(lang="ru")
	head
		meta(charset="utf-8")

		block title
			title title
		meta(name="description", content="о чем страница")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1.0,  shrink-to-fit=no")
		link(type="image/ico", href='img/favicon.ico', rel='shortcut icon') 
		link(href=`css/mail.min.css`, rel="stylesheet")
	block variables
	//- style.
	//- 	.loaded_hiding {  opacity: 0; pointer-events: none;  } .loaded_hiding::before { display: none; }
	//- body.loaded_hiding(class= mainPage) 
	body(class=mainPage data-bg=bg)
		.main-wrapper
			+b.modal-win
				+e.title 
					img(src="https://megafronteam.github.io/0019trainees/public/img/left.png", alt="").left
					.text Поздравляем!
					img(src="https://megafronteam.github.io/0019trainees/public/img/right.png", alt="").right
					//- table
					//- 	tr
					//- 		td.left
					//- 		td
					//- 		td.right
				+e.title-sub Ты&nbsp;сделал первый шаг к&nbsp;карьере в&nbsp;Правительстве Москвы. Мы&nbsp;свяжемся с&nbsp;тобой по&nbsp;указанному электронному адресу и&nbsp;расскажем о&nbsp;дальнейших действиях.
				p Узнай больше о&nbsp;карьере в&nbsp;Правительстве Москвы!
				.d-inline-block
					.text-left
						img(src="https://megafronteam.github.io/0019trainees/public/img/b-left.png", alt="")
					.row
						mixin item(i, t)
							+e.item(href="#")
								+e.qr-wrap
									+img(`https://megafronteam.github.io/0019trainees/public/img/qr-${i}.png`)
									+e.item-title= t
						+item(`1`,`Сайт`)
						+item(`2`,`ВКонтакте`)
						+item(`3`,`Телеграм`)
					.text-right
						img(src="https://megafronteam.github.io/0019trainees/public/img/b-right.png", alt="")
		//- +allcjs()
		block scripts