.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	.container{
		position: relative;
		margin-top: rem(68);
    @include media-breakpoint-up(sm) {
      margin-top: rem(55);
    }
		// @include media-breakpoint-up(sm) {
		// 	text-align: center;
		// }
		max-width: calc(1600px - 94px * 2);
		.icon-logo {
      font-size: rem(33);
      margin-left: rem(60);
      margin-top: rem(10);
      margin-bottom: rem(-6);
    }
		.icon-logo-mobile {
      max-width: 100%;
      font-size: rem(25);
			// @include media-breakpoint-up(xl) {
			// 	position: absolute;
			// 	left: 15px;
			// 	top: rem(10);
			// }
			margin-bottom: rem(16);
		}

	}
	h1{ 
		// @include rfs(56px);
		font-size: rem(41);
		font-weight: 700;
		line-height: 106%;
		color: $primary;
    margin-bottom: rem(30);
		max-width: em(250);
		
    @include media-breakpoint-up(sm) {
      text-align: center;
      font-size: rem(56);
      line-height: 120%;
      margin-left: auto;
		  margin-right: auto; 
      margin-bottom: rem(48);
    }
	}
	p{
		@include rfs(24px);
		font-weight: bold;
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
  .d-md-block {
    @include media-breakpoint-down(sm) {
      display: none;
    }
    
  }
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


